# ==============================================================================
# C/C++ & CMake Build Artifacts
# ==============================================================================

# Ignore Any Build Directories Created by CMake or Manual Builds.
**/build/
**/out/

# Object & Library Files.
**/*.o
**/*.obj
**/*.a
**/*.lib
**/*.so
**/*.dylib

# Executables.
**/*.out
**/*.app

# CMake Internal Files.
**/CMakeCache.txt
**/CMakeFiles/
**/cmake_install.cmake
# ==============================================================================
